[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = ">=1.7.0"
django = "*"
environ = "*"
update = "*"
setuptools = "*"
wheel = "*"
sentry-sdk = "*"
django-environ = "*"
whitenoise = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-debug-toolbar = "*"
django-extensions = "*"
psycopg2 = "*"
pylint-django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
